.data
{
    width: 100%;
    margin-top: 10%;
    text-align: justify;
}

.buttons
{
    width: 100%;
    display: flex;
    margin-top: 10%;
}

.clear
{
    margin-right: 50px;
}

.clear, .confirm
{
    background: #ffffff;
    margin-top: 5%;
    width: 200px;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: solid black 2px;
    transition: all ease 500ms;
}

.clear:hover
{
    background: green;
    color: white;
    border-color: green;
}

.confirm:hover
{
    background: #8B0000;
    color: white;
    border-color: #8B0000;
}

.main
{

    width: 25%;
    text-align: center;
    margin-top: 10%;
    margin-left: 650px;
    height: 300px;
}

