.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper .title h1
{
    color: black;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.input-fields
{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields
{
    width: 100%;
}

.input-fields .input
{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #8B0000;
    padding: 10px;
    color: black;
    width: 100%;
    outline: none;
    font-size: 15px;
}

::-webkit-input-placeholder {
    color: black;
}
.btn {


    width: 100%;
    display: inline-block;

}

.btn1
{
    margin-top: 25px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    justify-content: space-between;
    text-decoration: none;
    bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    float: left;
    width: 100%;
    text-align: center;
    border: solid black 2px;
    font-size: 15px;
    transition: all ease 500ms;

}
.tableWrapper
{
    top: 90%;
    position: absolute;
    left: 30%;
    right: 50%;
    padding-bottom: 200px;
}
table
{
    width: 100%;
    border-collapse: collapse;
    display:table-header-group;
}
th, td
{
    padding: 10px;
}

td
{
    text-align: center;
}

tr
{
    border: black solid 2px;
}



.btn1:hover
{
    background-color: green;
    border: solid green 2px;
    color: white;
}

@media screen and (max-width: 550px) {
    .tableWrapper
    {
        left: 5%;
    }
}



